<%- include("header") -%>

<h2 style="margin-left : 45%">The TODOList App</h2>

<p ><ul style="margin-left : 25%">
  <li>You can go to url <b>TODOListApp/<em>ListName</em></b></li>
  <li>The default work and walk will be there</li>
  <li>You can use <b>+</b> button to add items</li>
  <li>You can use <b>checkbox</b> to delete finished or unwanted items</li>
</ul></p>

<%- include("footer") -%>
